.jumbotron {
  background-image:url('/images/sun-lady.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  margin-bottom:0px;
}

.alternate-background{
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

.jumbotron h1, h2, h3, h4, h5, a{
  color:#1b0e21;
  text-align:center;
}

#main-heading{
  margin-top:30px;
}

li{
  display:inline;
  list-style-type: none;
  margin-left:10px;
  color:#dbdbdb;
}

.btn-link{
  color:#333333;
  font-size:20px;
}

#theBoard #activitiesDiv{
  background-image:url('/images/bonfire.jpg');
  height: 530px;
  background-repeat: no-repeat;
  background-size:100%; 
  background-position:-20%;
}

#header-menu{
  height:50px;
  line-height:50px;
  width:100%;
}

#header-menu li{
  display: inline-block;
  /*vertical-align: middle;*/
  line-height: normal;      
}

#bb-symbol{
  height:50px;
}

ul{
  margin-bottom:0px;
}


.board-heading{
  color:white;
  text-align:center;
  margin-top:100px;
}

.centered-cropped {
  width: 33.3333333%;
  height: 280px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 1px;
  float: left; 
}

.centered-cropped2 {
  width: 66.6666667%;
  height: 280px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 1px;
  float: left; 
}

.grid{
  height:280px;
  padding:0px;
}

.grid-img1{
  height:280px;
}

.grid-img2{
  height:280px;
}

#flip5{
  cursor:pointer;
}


/* ========================== HOMEPAGE STYLING ========================= */
#title-background{
    background-color: #eee;
    opacity: 0.5;
    background-color: #eee;
    opacity: 0.5;
    margin-top: 56px; 
}

#homepage span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
  font-size:30px;
  padding-left:55px;
  padding-right:8px;
}

#homepage a:hover{
  text-decoration:none;
  color:inherit;
}

#homepage #activitiesDiv{
    background-color: #fff;
    height: 400px;
    line-height:400px;
    position: relative;
    margin-top: 0px;
}

#homepage #eventsDiv{
    position: relative;
    text-align:center;
    height:400px;
    width:100%;
    line-height:400px;
    background-color:#9cd0b3; 
}

#homepage h1{
    font-size:50px;
}

@media only screen and (max-width:619px){
#homepage #eventsDiv h1{
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -83px;
    font-weight: 600;
    top: 113px;
}
}

#homepage #activitiesDiv h1{
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -121px;
    font-weight: 600;
    top: 113px;
}

@media only screen and (min-width: 620px){
	#homepage h1{
	    font-size:90px !important;
	}

	#homepage #activitiesDiv h1{
	    font-weight: 600;
	    position: absolute;
	    top: -35px;
	    left: 80px;
	    transform:none;
	}

	#homepage #eventsDiv h1{
	    
	    position: absolute;
	    right: 50px;
	    font-weight: 600;
	    bottom: 0px;
	    transform: none;
	    right: 50px;
	    bottom: -28px;
	}
}

@media only screen and (min-width: 620px) and (max-width: 991px){
  .col-md-4{
    width:50%;
    float:left;     
  }    

}

@media screen and (min-width: 768px){
.jumbotron .h1, .jumbotron h1 {
    font-size: 55px;
}
}

{

}
