<!DOCTYPE HTML>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>BoredBoard</title>

<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

<!-- Latest compiled and minified bootstrap CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- angular code -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>

<script src="javascripts/activities.js"></script>

<!--<script src="javascripts/dynamic-load.js"></script>-->

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.js"></script>

<!-- google distance matrix api -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=callback"></script>

<!-- angular app -->
<script src="javascripts/app.js"></script>

<!-- angular controllers -->
<script src="javascripts/controllers/mainController.js"></script>

<!-- angular directives -->
<script src="javascripts/directives/d1.js"></script>
<script src="javascripts/directives/headers.js"></script>
<script src="javascripts/directives/flippingDirective.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheets/dynamic-style.css">

<!-- BoredBoard Stylesheet -->
<link rel="stylesheet" type="text/css" href="stylesheets/BoredBoardStyle.css">

</head>
<body ng-app="activity" ng-controller="MainCtrl">
   <filter-header mylat="mylat" open="open"></filter-header>
   <!--<div ng-bind-html="filterHeader" id="header-menu"></div>-->
	
    <div ng-show="open" id="popup">
	<form>
	  <h1 style="text-align:center">FILTERS</h1>
	  <label for="season">Season (choose one): </label><br/><input type="radio" id="winter"><label class="move-right">Winter</label><br/><input type="radio" id="spring"><label class="move-right">Spring</label><br/><input type="radio" id="summer"><label class="move-right">Summer</label><br/><input type="radio" id="fall"><label class="move-right">Fall</label><br/><br/>
	  <label for="inOrOut">Setting: </label><br/><input type="radio" name="inOrOut" value="indoor" id="indoor"><label class="move-right">Indoor</label><br/><input type="radio" name="inOrOut" value="outdoor" id="outdoor"><label class="move-right">Outdoor</label><br/><br/>
	  <label>Max Cost Per Person: $</label><input size="3" maxlength="3" type="text" id="cost" placeholder="10"><br/><br/>
	  <label>Max Distance: </label><input size = "3" maxlength="3" type="text" id="radius" placeholder="30"><br/><br/>
	  <button ng-click="filterActivities()">submit</button>
	  <button id="cancel" ng-click="showPopup()">cancel</button>
	</form>
      </div>
	<h3 class="ninja">Filtered Activities</h3>
   <div class="filtered-stuff" ng-repeat="thing in filteredActivities" flipping-directive="">

<div class="col-md-4 grid flipper">
  <div class="front"><img class="grid-img1 col-md-12 thumbnail" ng-src="{{thing.Photo}}" alt=""></div>
  <div class="back thumbnail">
	<h2 class="img-title">{{thing.Title}}</h2>
	<hr/>
	<p>{{thing.Description}}</p>
	<div class="filter-info">
	  <hr/>
	  <p>Address: {{thing.Address}}</p>
	  <p>Estimated Cost: ${{thing.Cost}}</p>
	</div>
  </div>
</div>

<!--
	<div class="col-md-4 grid"> 
	  <div class="thumbnail back grid"><h2 class="img-title">{{thing.Title}}</h2><hr/><p>{{thing.Description}}</p></div>
	</div>-->
   </div><br/>
	<div class="spacer"></div>
	<h3 class = "ninja">All Activities</h3> 
   <div ng-repeat="thing in activities" flipping-directive="">
	<div class="col-md-4 grid flipper">
	  <div class="front"><img class="grid-img1 col-md-12 thumbnail" ng-src="{{thing.Photo}}" alt=""></div>
	  <div class="back thumbnail">
		<h2 class="img-title">{{thing.Title}}</h2>
		<hr/>
		<p>{{thing.Description}}</p>
	  	<div class="filter-info">
		  <hr/>
	  	  <p>Address: {{thing.Address}}</p>
	  	  <p>Estimated Cost: ${{thing.Cost}}</p>
		</div>
	  </div>
	</div>
<!--	<div class="col-md-4 grid"> 
	  <div class="thumbnail back grid"><h2 class="img-title">{{thing.Title}}</h2><hr/><p>{{thing.Description}}</p></div>
	</div>-->
   </div>

</body>
<script>
$('document').ready(function(){
  $('.ui-loader').css('display','none'); 
});

</script>

<!-- jQuery flip plugin (just call $('divID').flip();) -->
<script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.19/dist/jquery.flip.min.js"></script>
</html>
